/* ===== body decoration ===== */
body{
    background: #222;
    overflow: hidden;
}

/* ===== cursor design ===== */
i{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #0f0;
    pointer-events: none;
    animation: animate 2s linear forwards;
}

/* ===== cursor animation ===== */
@keyframes animate
{
    0%{
        opacity: 1;
        transform: translate(0, 0);
    }
    100%{
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}